.btn{
	background-color: #ea625c;
	color: #fff;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	border: none;
	outline: none;
	width: auto;
	height: 35px;
	padding: 12px 16px;
	cursor: pointer;
}